{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:vue/vue3-essential",
    "plugin:vue/vue3-recommended",
    "plugin:markdown/recommended",
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 13,
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": ["vue", "@typescript-eslint"],
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-absolute-path": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "consistent-return": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-redeclare": "error",
    "vue/require-default-prop": "off",
    "no-underscore-dangle": "off",
    "no-undef": "off",
    "no-multi-assign": "off",
    "no-param-reassign": "off",
    "no-sequences": "off",
    "no-return-assign": "off",
    "no-plusplus": "off",
    "no-redeclare": "off",
    "no-unused-vars": "off"
  },
  "overrides": [
    {
      "files": ["**/*.spec.ts", "**/*.spec.tsx"],
      "env": {
        "jest": true
      }
    }
  ]
}
