pre {
  line-height: 0;
}
.preview {
  border: 4px;
  border: 1px dashed #e7e7e7;
  padding: 10px 10px 0;
  border-bottom: 1px dashed #e7e7e7;

  section {
    margin: 15px;
  }
}
.source-code {
  max-height: 500px;
}
.language-html {
  margin: 0;
  padding: 0 15px;
}
.preview-bottom {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-top: 1px dashed #e7e7e7;
  cursor: pointer;
}
