$border: 1px solid #dcdfe6;

pre {
  line-height: 0;
}
.preview-box {
  border: 4px;
  border: $border;

  section {
    margin: 15px;
  }
}
.source-code {
  max-height: 500px;
}
.language-html {
  margin: 0;
  padding: 0 15px;
}

.handlers {
  display: flex;
  justify-content: flex-end;
  border-bottom: $border;
  padding: 10px;
}

.handles__item {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 0 0.5rem;
}
